<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fw.zycoder.demos">

    <application
        tools:replace="android:label"
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main">

        <!-- main for demo list -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Main"></activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- demos -->
        <activity
            android:name=".demos.customToast.ToastTestActivity"
            android:label="视图/toast"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.dialog.DialogActivity"
            android:label="视图/dialog"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.guagua.ScartchOutActivity"
            android:label="视图/刮刮卡"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.recyclerview.RecyclerViewActivity"
            android:label="视图/RecyclerView探究"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.lc.LCActivity"
            android:label="理财"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.rxandroid.RxAndroidActivity"
            android:label="rxandroid"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>

        <!-- others -->
        <activity
            android:name=".demos.customToast.ActivityTwo"
            android:label="ActivityTwo"></activity>
        <activity
            android:name=".demos.customToast.examples.ExampleStyle"
            android:label="ExampleStyle"></activity>
        <activity
            android:name=".demos.customToast.examples.ExampleSuperActivityToast"
            android:label="ExampleSuperActivityToast"></activity>
        <activity
            android:name=".demos.customToast.examples.ExampleUndoBar"
            android:label="ExampleUndoBar"></activity>


    </application>

</manifest>