<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fw.zycoder.demos">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main for demo list -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- demos -->
        <activity
            android:name=".demos.customToast.ToastTestActivity"
            android:theme="@style/AppTheme.Detail"
            android:label="视图/toast">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.dialog.DialogActivity"
            android:theme="@style/AppTheme.Detail"
            android:label="视图/dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.guagua.ScartchOutActivity"
            android:theme="@style/AppTheme.Detail"
            android:label="视图/刮刮卡">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="activity_category" />
            </intent-filter>
        </activity>

        <!-- others -->
        <activity
            android:name=".demos.customToast.ActivityTwo"
            android:theme="@style/AppTheme.Detail"
            android:label="ActivityTwo">
        </activity>
        <activity
            android:name=".demos.customToast.examples.ExampleStyle"
            android:theme="@style/AppTheme.Detail"
            android:label="ExampleStyle">
        </activity>
        <activity
            android:name=".demos.customToast.examples.ExampleSuperActivityToast"
            android:theme="@style/AppTheme.Detail"
            android:label="ExampleSuperActivityToast">
        </activity>
        <activity
            android:name=".demos.customToast.examples.ExampleUndoBar"
            android:theme="@style/AppTheme.Detail"
            android:label="ExampleUndoBar">
        </activity>


    </application>

</manifest>